%h1.font-bold.text-4xl.mbe-4 Resend confirmation instructions
= form_with url: confirmation_path(resource_name), method: :post, class: "flex flex-col gap" do |form|
  = render "devise/shared/error_messages", resource: resource
  = form.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input"
  = form.submit "Email reset instructions", class: "btn btn--primary i-min"
= render "devise/shared/links"

